:host {
  display: block;
  height: 100%;
}
.add-new {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: sans-serif;
  color: white;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: gray;
  position: fixed;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
}
