* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
/*scr-theme*/
.mCustomScrollBox.mCS-scr-theme > .mCSB_container {
  margin-right: 6px;
}
.mCustomScrollBox.mCS-scr-theme > .mCSB_scrollTools{
  width: 10px;
}
